@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --color-primary: var(--primary);
  --color-primary-hover: var(--primary-hover);
  --color-destructive: var(--destructive);
  --color-destructive-hover: var(--destructive-hover);
  --color-bg: var(--bg);
  --color-bg-deep: var(--bg-deep);
  --color-card: var(--card);
  --color-lines: var(--lines);
  --color-text-primary: var(--text-primary);
  --color-text-secondary: var(--text-secondary);
  --color-text-title: var(--text-title);
  --color-secondary-button: var(--secondary-button);
  --color-secondary-button-hover: var(--secondary-button-hover);
}

:root {
  --primary: #635FC7;
  --primary-hover: #A8A4FF;
  --destructive: #EA5555;
  --destructive-hover: #FF9898;
  --bg: #fff;
  --bg-deep: #F4F7FD;
  --card: #F4F7FD;
  --lines: #E4EBFA;
  --text-primary: #fff;
  --text-secondary: #828FA3;
  --text-title: #000112;
  --secondary-button: #635FC71A;
  --secondary-button-hover: #635FC740;

  --radius: 0.625rem;
}

.dark {
  --primary: #635FC7;
  --primary-hover: #A8A4FF;
  --destructive: #EA5555;
  --destructive-hover: #FF9898;
  --bg: #2B2C37;
  --bg-deep: #20212C;
  --card: #20212C;
  --lines: #3E3F4E;
  --text-primary: #fff;
  --text-secondary: #828FA3;
  --text-title: #fff;
  --secondary-button: #fff;
  --secondary-button-hover: #fff;

}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
